---
import Layout from "../../layouts/Layout.astro";
const title = "Anniversari | Ristorante TRE";
const h1 = "Anniversari";
---

<Layout title={title} description="Pagina in allestimento.">
  <section class="container" style="padding: 140px 0 80px; text-align:center;">
    <h1>{h1}</h1>
    <p>Pagina in allestimento.</p>
    <p><a href="/" class="btn btn-primary">Torna alla Home</a></p>
  </section>
</Layout>
